/* Adding a Custom Background */
Body.login
{
background-image:url("image/login-page-bg.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:left;
}

/* Adding a Custom Logo */
#login h1 a {
background-image: url("image/logo.png");
background-size: 75px;
}
/* Customizing the Login Form */
.login form{
box-shadow:none;
padding:20px;
}
#login {
background: #FFF;
margin: 50px 60px;
padding: 40px 20px;
width: 400px;
display: inline-block;
border-radius: 20px;
}
.login label {
color: #555;
font-size: 14px;
}
.login form .forgetmenot{
float:none;
}

#login form p.submit{
margin-top:15px;
}
.login.wp-core-ui .button-primary {
background: #7B417A;
border-color:#7B417A;
box-shadow: 0 1px 0 #7B417A;
color: #FFF;
text-shadow: none;
float: none;
clear: both;
display: block;
width: 100%;
padding: 7px;
height: auto;
font-size: 15px;
}

/* Remove the Lost Password Link */

p#nav
{
display: none;
}